version: "3.8"

services:
  mongodb:
    image: mongo:7
    container_name: mongodb-main
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER:-root}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD:-changeme}
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - dvm_traefik
    restart: always

volumes:
  mongo_data:

networks:
  dvm_traefik:
    external: true
